<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{ mensagemErro }}
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group ">
              <label for="email">Email</label>
              <input class="form-control" id="email" type="email"/>
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input class="form-control" id="senha" type="password"/>
            </div>
            <div class="form-group check">
              <input id="remember" type="checkbox"> <label for="remember">Lembrar-se</label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Entrar</button>
              <a class="pull-right linkVoltar" routerLink="">Voltar</a>
            </div>
          </form>
          <a href="123" data-toggle="popover" title="Observação" data-content="Some content inside the popover">Toggle popover</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
		$('[data-toggle="popover"').popover();
});
</script>