<!-- navbar -->
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a #navbar href="blog#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
          <li routerLinkActive="active"><a href="blog#home">Home</a></li>
          <li routerLinkActive="active"><a href="blog#sejaSocio">Seja sócio</a></li>
          <li routerLinkActive="active"><a href="blog#clube">O clube</a></li>
          <li class="right"><a routerLink="/login">Área do sócio</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-demo">
  <li><a href="blog#home">Home</a></li>
  <li><a href="blog#sejaSocio">Seja sócio</a></li>
  <li><a href="blog#clube">O clube</a></li>
  <li><a routerLink="/login">Área do sócio</a></li>
</ul>

<!-- carousel -->
<div class="section" id="home">
  <div class="container">
    <div #carousel class="carousel carousel-slider center" data-indicators="true">
      <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Seja Sócio</a>
      </div>
      <div class="carousel-item" href="#one!">
        <img src="http://3.bp.blogspot.com/--ikxZDTXwQw/VpJJGwtVHDI/AAAAAAAA-jA/-czBH6T_t_M/s400/12511771_897259163715203_507232423_n.jpg" alt="Vista aérea da piscina">
      </div>
      <div class="carousel-item" href="#two!">
        <img src="http://3.bp.blogspot.com/-eky4wayZIwY/VBjJD7sEWpI/AAAAAAAAAIE/LG6A_owuBQM/s1600/_DSC0472.JPG" alt="Piscina das crianças">
      </div>
      <div class="carousel-item" href="#three!">
        <img src="http://2.bp.blogspot.com/-RE-l_R0qso4/VBjHu-F6S_I/AAAAAAAAAHg/WgAMqz3uUdE/s1600/_DSC0469.JPG" alt="Toboagua">
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="section" id="sejaSocio">
  <h1>SEJA SÓCIO</h1>
</div>

<div class="divider"></div>
<div class="section" id="clube">
  <h1>CONHEÇA</h1>
</div>

<footer class="page-footer">
  <div class="container">
    Copyright {{ anoAtual }} © Palmeiras Country Clube
    <div class="right">
      <a>face</a>
      <a>insta</a>
    </div>
  </div>
</footer>